* {
  margin: 0;
  padding: 0;
}

#instructions {
  font-family: Helvetica;
  color: #333;
  margin: 1em 1em 0;
}

#boggle-panel {
  float: left;
  font-size: 1em;
  font-family: Helvetica;
  color: #333;
  display: block;
  padding: 1em;
  margin: 1em;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #666;
}

#controls {
  margin: 0.5em 0;
}

#controls input[type="number"] {
  border-radius: 5px;
  font-family: Helvetica;
  font-size: 1em;
  width: 2em;
}

#solve-button, #create-example-board-button {
  font-family: Helvetica;
  font-size: 1em;
  color: #333;
  border-radius: 5px;
  background-color: #fff;
  padding: 0.2em;
}

#words-panel {
  display: block;
  font-size: 1em;
  font-family: Helvetica;
  color: #333;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #666;
}

#num-words {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

#word-list {
  text-align: left;
  list-style-type: none;
  padding: 0;
}

#word-list li {
  float: left;
  width: 9em;
}
